<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">

	<div id="dnn_BottomPane" class="footer_new">
		<a id="409"></a>
		<div id="dnn_ctr409_ContentPane">
			<div id="dnn_ctr409_ModuleContent" class="ModDNNHTMLC">
				<div id="dnn_ctr409_HtmlModule_lblContent" class="Normal">
					<div id="cont_footer_negro">
						<div id="footer_bottom">
							<div class="logo_dav"></div>
							<p>.: Rappi</p>							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</ui:composition>