<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<ui:insert name="head" />
	<f:facet name="first">
		<meta content='text/html; charset=UTF-8' http-equiv="Content-Type" />
	</f:facet>
	<link rel="stylesheet"
		href="${facesContext.externalContext.requestContextPath}/resources/css/styles.css"
		type="text/css" />
	<link rel="stylesheet"
		href="${facesContext.externalContext.requestContextPath}/resources/css/reset.css"
		type="text/css" />
	<link rel="stylesheet"
		href="${facesContext.externalContext.requestContextPath}/resources/css/Template.css"
		type="text/css" />
	<title><ui:insert name="title" /></title>
</h:head>

<h:body>
	<h:form id="principalForm" enctype="multipart/form-data">
		<div class="fullwrap">
			<div id="messagesout" class="header">
				<p:growl id="messagessgeneral" autoUpdate="true" closable="true" />
			</div>
			<div class="outerwrapper topRow">
				<div class="logoDav"></div>
				<div class="appName"></div>
			</div>
			<div class="outerwrapper mainRow">
				<div class="banco_marca"></div>
				<div class="container center">
					<div class="containerBG">
						<ui:insert name="content" />
					</div>
				</div>
			</div>
		</div>
		<div class="footerRow">
			<ui:insert name="menu">
				<ui:include src="../template/footer1.xhtml" />
			</ui:insert>
		</div>
	</h:form>
</h:body>
</html>