<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="WEB-INF/template/InitialTemplate.xhtml">
	<ui:define name="title">
        Cube Summation
    </ui:define>
	<ui:define name="content">
		<div class="center">
			<p:panel style="margin-bottom:8em">
				<p:panelGrid columns="6" style="margin: auto"
					styleClass="ui-noborder">
					<h:outputLabel value="#{msg['index.inputText.label.nombre']}" />
					<p:inputText id="nombretxt"
						value="#{cubeSumationMBean.executeProcessDTO.matrixDTO.strnombre}"
						label="Tamanio" required="true" autocomplete="off"
						requiredMessage="El nombre del cubo es requerido" />

					<h:outputLabel value="#{msg['index.inputText.label.tamanio']}" />
					<p:inputText id="tamaniotxt"
						value="#{cubeSumationMBean.executeProcessDTO.matrixDTO.numsize}"
						label="Tamanio" required="true" autocomplete="off"
						requiredMessage="El tamaño del cubo es requerido" />

					<h:outputLabel value="#{msg['index.inputText.label.comando']}" />
					<p:inputText id="comandtxt" value="#{cubeSumationMBean.comando}"
						label="Comando" required="true" autocomplete="off"
						requiredMessage="La línea de comando es requerida" />
				</p:panelGrid>
				<p:panelGrid columns="4" style="margin: auto"
					styleClass="ui-noborder">
					<p:commandButton id="comanbu"
						actionListener="#{cubeSumationMBean.add_Command}"
						update="commandLineTable"
						value="#{msg['commandButton.value.command']}" />
					<p:dataTable id="commandLineTable" var="comandlines"
						value="#{cubeSumationMBean.executeProcessDTO.executeLine}"
						rows="10" paginator="true" paginatorPosition="bottom"
						paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"
						emptyMessage="#{msg['global.datatable.lable.sinresultado']}">
						<p:column headerText="#{msg['index.inputText.label.comando']}">
							<h:outputText value="#{comandlines}" />
						</p:column>
						<p:column headerText="#{msg['commandButton.value.eliminar']}">
							<p:commandLink
								actionListener="#{cubeSumationMBean.delete_Command}"
								update="commandLineTable">
								<p:graphicImage width="20" height="20" title="eliminar"
									value="resources/imagenes/eliminar.png" />
								<f:attribute name="comandoselect" value="#{comandlines}" />
							</p:commandLink>
						</p:column>
					</p:dataTable>
					<h:outputLabel
						value="#{msg['index.inputText.label.resultadocomando']}" />
					<p:dataTable id="resultado" var="results"
						value="#{cubeSumationMBean.resultcomamnd}" rows="10"
						paginator="true" paginatorPosition="bottom"
						paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"
						emptyMessage="#{msg['global.datatable.lable.sinresultado']}">
						<p:column headerText="#{msg['index.inputText.label.resultado']}">
							<h:outputText value="#{results}" />
						</p:column>
					</p:dataTable>
					<f:facet name="footer">
						<h:panelGroup style="display:block; text-align:center">
							<p:commandButton id="nuevocu" update="principalForm"
								actionListener="#{cubeSumationMBean.new_Cube}"
								value="#{msg['commandLink.value.nuevo']}" />
							<p:commandButton id="execubu" update="resultado"
								actionListener="#{cubeSumationMBean.execute_Cube}"
								value="#{msg['commandLink.value.execute']}" />
						</h:panelGroup>
					</f:facet>
				</p:panelGrid>

			</p:panel>
		</div>
	</ui:define>
</ui:composition>
