@font-face {
    font-family: "Helvética light";
    src: url(../HelveticaLt.ttf);
}
html, body{
    height: 100%
}
body{
    background: white scroll url(../imagenes/center2.png) repeat-x;
    /*font-family: Helvética light;*/
    font-size: 10px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

/*Componentes Panel*/
.ui-panelgrid.ui-widget tbody tr td {
    padding: 5px;
}

/*Componentes Panel*/
.ui-panelgrid.ui-widget.export tbody tr td {
    padding: 1px;
}
.ui-panelgrid .ui-panelgrid-header {
    border:1px solid #880101;
    background:#A80000;
    color:#FFF;
    font-weight:bold;
}

.ui-panelgrid-button-margin {
    margin-left: 70px
}

/*POPUP*/
.ui-dialog{
    filter: alpha(opacity=100) !important;
}

.ui-dialog-confirmation{
	max-height: 200px; max-width: 400px; overflow-y: auto;
}	

/*DATATABLE*/
#dialogSearch .ui-widget-content{
    border: 0px;
}
#login .ui-widget-content{
    border: 0px !important;
}
.ui-datatable-even { 
    background:#f0f0f0 !important; 
}
.ui-datatable th{
    /*border-right: 1px solid white !important;*/
}
/*END DATATABLE*/

.outerwrapper, .fullwrap{

    height: auto;
    min-height: 100%;
    display: inline;
    float: left;
    width: 100%;
    overflow: visible;
    /*margin: 2px 0px 0px !important;*/
}

.ui-dialog{
    z-index: 2000px !important;
}

.mainRow .tipodoc select{
    background-color: #FFF !important;
    color: #000 !important;
}
.mainRow .tipodoc .ui-state-focus,  .mainRow .tipodoc .ui-state-hover{ 
    border: 1px solid #a80000; 
    background: #FFF; 
    font-weight: normal; 
    color: #000; 
}
.center{
    padding-bottom: 50px;
}
.container.center {
    margin: 0px auto 84px;
    width: 990px;
    min-height: 100%;
    height: auto;
}

.container.left {
    float: left
}

.container.right {
    float: right
}

.container.centerMenu {
    margin: 0 auto;
    width: 990px
}

.containerBG {
    width: 100%;
    display: inline;
    padding: 30px 0;
}

.topRow{
    height: 115px;
    min-width: 995px;
}
.logoDav{
    background: transparent scroll url(../imagenes/Davivienda3.png) left 0px no-repeat;
    float: left;
    height: 120px;
    width:600px;
}
.appName{
    background: transparent scroll url(../imagenes/rigthHead3.png) right 0px no-repeat;
    height: 120px;
}
.mainRow{
    padding-bottom: 10px;
    padding-top: 25px;
    position: relative;
    min-width: 995px;
    min-height: 100%;
    height: auto;
}

.banco_marca {
    position: absolute;
    top: 15px;
    right: 5px;
    width: 8px;
    height: 116px;
/*     background: url('../imagenes/marca_banco.jpg') 0px 0px no-repeat; */
}

#leftCol{
}

#ultimos,#comoOp,#oportunidades{
    padding-bottom: 50px !important;
}

#bgBienvenida{
    background-image:  url('../imagenes/bgAreaTrabajo2.png');
    width: 581px;
    height: 373px;
    margin: 0 auto;
    background-repeat: no-repeat;
}

#bgSeguridad{
    background-image:  url('../imagenes/mensajeInicialSeguridad.jpg');
    width: 598px;
    height: 144px;
    margin: 0 auto;
    background-repeat: no-repeat;
}

#pgSeguridadConfirmacion{
    width: 266px;
    height: 68px;
    margin: 0 auto;	
}

/*
 * estilos del menu
*/

.menuRow{    
    height: 26px;
}

/*Dic menu pricipal*/
.menuRow .ui-menu{
    moz-border-radius-bottomright: 0px !important;
    -webkit-border-bottom-right-radius: 0px !important;
    -khtml-border-bottom-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    moz-border-radius-bottomleft: 0px !important;
    -webkit-border-bottom-left-radius: 0px !important;
    -khtml-border-bottom-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;

    padding: 0px !important;
    border: 0px !important;
    background: transparent !important;
    overflow: visible;
    border-bottom: 0px solid #B20018 !important;
}


/*Estilos Menu Pricipal*/
.menuRow .ui-menu .ui-menuitem-link{
    color: #B9B9B9;
    font-weight: bold;
    vertical-align: middle !important;
    border: solid 0px !important;
    font-size: 12px;
}

/* hover Menu Padre sin hijos*/
.menuRow .ui-menu .ui-menu-list .ui-menuitem-active .ui-state-hover{ 
    background: #CC0505 !important;
    font-weight: bold !important;
    vertical-align: middle !important;
    border: solid 0px !important;
    color: #FFF;
}
/* hover Menu Padre con Hijos*/
.menuRow .ui-menu .ui-menu-list .ui-menu-parent .ui-state-hover{ 
    background: transparent !important;
    border: none !important;
    overflow: hidden !important;
    position: relative !important;
    color: #CC0505 !important;
    cursor: default;
}
/* hover hijo con padre*/
.menuRow .ui-menu-list .ui-menu-parent .ui-menu-list .ui-menuitem-active .ui-state-hover{
    background: #970013 !important;
    font-weight: bold;;
    vertical-align: middle !important;
    border: solid 0px !important;
}
.menuRow .ui-menu .ui-menu-list .ui-menu-parent .ui-widget-content .ui-menuitem{
    moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -khtml-border-radius: 0px;
    border-radius: 0px;
    background-color: #CC0505; 
}
/*Estilos Submenu item*/
.menuRow .ui-menu .ui-menu-list .ui-menuitem  .ui-menu-list .ui-menuitem .ui-menuitem-link{
    width: 100% !important;
    color: #900;
    font-weight: bold;
    vertical-align: middle !important;
    border: solid 0px !important;
    padding-left: 3%;
    cursor: pointer;
}

.menuRow .ui-menu .ui-widget{
    margin: 0 !important;
}

.ui-menu .ui-menuitem-link .ui-menuitem-icon {
    display: none ;
}

/*Icono Menu Principal - Padres*/
.menuRow .ui-menu .ui-icon-triangle-1-s {
    background: none !important;  
    display: none;
}
/*Este es el reemplazo del Icono para Menu padres e hijos*/
.container.centerMenu #formMenu .ui-menu.ui-menubar.ui-widget.ui-widget-content.ui-corner-all.ui-helper-clearfix ul li{
    padding-right: 15px; 
    height: 25px;
}

/*Icono SubMenu - Hijos*/
.menuRow .ui-menu .ui-icon-triangle-1-e {
    /*background: none !important;*/
}
/*Menu Padre*/
.menuRow .ui-menu-list{
    background: none;  
    margin: 0 !important;
    padding: 0 !important;
}
/*UL Menu Hijo*/
.menuRow .ui-menu-list .ui-widget-content{
    border: none !important; 
    background: none;  
    margin: 0 !important;
    padding: 0 !important;
    width: 280px !important;
}

.menuRow .ui-menu-list .ui-widget-content .ui-menu-parent .ui-menuitem-text{
    /*font-size: .9em;*/
    /*opacity: .7;*/
    color: white;
    /*font-weight: bold;*/ 
}

.menuRow .ui-menu-list .ui-widget-content .ui-menuitem-text{
    color: white !important;  
    font-weight: normal;
}

.ui-shadow {
    -moz-box-shadow: 0px 0px 0px !important;
    -webkit-box-shadow: 0px 0px 0px !important;
    box-shadow: 0px 0px 0px !important;
}

/*
 * FIN estilos del menu
*/

.ui-accordion .ui-accordion-content{
    padding: 10px !important;
}

.accView h3.ui-state-active, .accView h3.ui-widget-content h3.ui-state-active, .accView h3.ui-widget-header h3.ui-state-active{
    background: #A80000 !important;
    border: 0px;
    overflow: hidden !important;
}
.accView .ui-state-active a, .accView .ui-state-active a:link, .accView .ui-state-active a:visited {
    /*color: #880101 !important;*/
    font-weight: bold;
}
.accView .ui-datatable{
    margin-bottom: 20px !important;
}

.ui-progressbar .ui-progressbar-value {
    border: 1px solid #880101 !important;
    background: #A80000 url('../primefaces/images/ui-bg_glass_25_a80000_1x400.png') 50% 50% repeat-x;
}

/*FOOTER*/
.footerRow{
    width: 100%;
    height: 88px;
    background: url('../imagenes/bk_footer_new2.png') repeat-x;
    margin-top: -88px;
    float: left
}

.footerRow p{
    margin: 8px 0px 0px 0px;
    color: white;
    float: left;
    font-size: 10px;
}

.footer_new {
    width: 995px;
    margin: 0px auto;
    position: relative;
}

#cont_footer_negro {
    height: 88px;
}

.menu_apoyo {
    float: right;
    height: 40px;
    width: 100%;
    color: silver;
    margin-top: 15px;
    font-size: 10px;
}.logo_tab {
    width: 144px;
    height: 17px;
    background: url(../imagenes/tab_dav2.png) 0px 0px no-repeat;
    margin: 5px;
    float: left;
}
#footer_subbottom {
    width: 100%;
    height: auto;
    float: left;
    margin-top: 10px;
}

#footer_bottom {
    width: 100%;
    height: auto;
    float: left;
    margin-top: 12px;
}

.logo_dav {
    width: 200px;
    height: 20px;
    background: url(../imagenes/logo_dav2.png) 0px 0px no-repeat;
    margin: 5px;
    float: right;
}.logo_col {
    width: 144px;
    height: 17px;
    background: url(../imagenes/vigi_dav2.png) 0px 0px no-repeat;
    margin: 5px;
    float: left;
}

/*END FOOTER*/

/*Titulos y Labels*/
h1{
    color: #A80000;
    font-size: 18px;
    font-weight: bold;
    float: left;
    /*margin-bottom: 50px;*/
}


/*Titulos y Labels*/
h2{
    color: #A80000;
    font-size: 14px;
    font-weight: bold;
    float: left;
    /*margin-bottom: 50px;*/
}

/*FORMS POPUP*/
.ui-dialog-content.ui-widget-content form{
    width: auto;
    border: 1px solid silver;
    padding: 10px;
}

/* Estilos de los listados */
.listas {
    font-size: 12px;
    margin-top: 40px;

}

/* Estilos de los listados */
.listaslog {
    font-size: 12px;
    margin-top: 10px;

}

.botonesTop {
    font-size: 12px;
    float: right;
    display: block;
}

.hasDatepicker{
    background: #FFF !important;
    color: black !important;
    border: 1px solid #5F5959 !important;
    width: 100px !important;
}
.ui-inputfield{
    width: 100px;
}
.ui-inputfield-big{
    width: 150%;
}
.ui-inputtext, .ui-password, .ui-inputtextarea{
    background-color: white !important;
    background-image: none !important;
    color: #222222 !important;
    border: 1px solid #5f5959 !important;
}

/*SELECT DATA TABLE*/
.ui-datatable .ui-paginator-rpp-options.ui-widget.ui-state-default.ui-corner-left{
    background-color: white;
    background: white;
    color: black;
}
.ui-datatable .ui-paginator-rpp-options.ui-widget.ui-state-default.ui-corner-left.ui-state-focus{
    background-color: white;
    background: white;
    color: black;
}
.ui-datatable .ui-paginator-rpp-options.ui-widget.ui-state-default.ui-corner-left.ui-state-hover{
    background-color: white;
    background: white;
    color: black;
}

.ui-datatable table tr th input{
    width: 65% !important;
    margin: auto !important;
}

.ui-selectonemenu{
    background-color: white !important;
    color: black !important;
    border: 1px solid #5F5959 !important;
}

.ui-selectonemenu.ui-widget.ui-state-default.ui-corner-all.ui-helper-clearfix.ui-state-hover{ 
    background: white !important;
    color: black !important;
    border: 1px solid #5F5959 !important;
}

.ui-selectonemenu.ui-widget.ui-state-default.ui-corner-all.ui-helper-clearfix.ui-state-focus{ 
    background: white !important;
    color: black !important;
    border: 1px solid #5F5959 !important;
}

#dialog .ui-inputfield{
    /*    margin: 5px 10px 5px;
        padding: 6px;*/
}

#dialog label{
    width: 138px !important;
    display: block;
}

.outRef{
    color: #880101;
    font-weight: bold;
}

.infoGrid{
    width: 960px;
}

.infoGrid td, .infoGrid .ui-widget-content{
    border:none;
}

.ui-datagrid{
    margin-top: 50px;
}

.ui-datagrid .ui-widget-content{
    border:none;
    border-color: #880101;
}

.detailGrid{
    width: 100%;
}

.detailGrid td{
    height: 15px;
    border-width: 1px !important;
}

.redhead{
    color: white;
    background-color: #A80000;
    width: 25%;
}

.colOdd{
    color: #333;
    font-weight: bold;
    width: 180px;
}

.colEven{
    background-color: #D8D8D8;
    width: 330px;
    text-align: right;
    overflow: hidden;
}

.rowEven{
    background-color: #EBEBEB;
    width: 330px;
    text-align: right;
    overflow: hidden;
}

.infoGrid .colEven, .infoGrid .rowEven
{
    text-align: left !important;
}

/*.ui-selectonemenu{
    width: auto;
}*/

#nuevaConsulta{
    margin: 20px 0;
    float: left;
}
::-webkit-scrollbar {
    width: 7px;
    height: 7px
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: red;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}


.ui-messages-error, .ui-message-error, .ui-messages-info, .ui-message-info {
    color: black;
    background-color: transparent;
    border: none;
}
#resultadoBusqueda .listas{
    margin:0;
}
#resultadoBusqueda{

}

/*CARGA*/
#tabCarga .ui-tabs-panels{
    border: 1px solid silver;
}
.ui-fieldset.ui-widget.ui-widget-content.ui-corner-all{
    border: 1px solid #880101;
}

/*
DATAPICKER
*/
.ui-datepicker .ui-datepicker-header {
    background-color: #880101; 
}
.ui-datepicker{
    padding: 0px;
}

/**
 * Estilos de Login  
 **/
.ui-panelgrid td {
    border-width: 0px;
}
#formMenu{
    width: 900px;
    float: left;
}
#formMenuPerfil{
    border-bottom: 0px solid red;
    width: 90px;
    float: right;
}

/*MENU PERFIL*/
.ui-megamenu .ui-menu-list.ui-helper-reset .ui-widget .ui-widget-content{
    padding: 5px !important;
}
.ui-megamenu .ui-menu-list.ui-helper-reset .ui-widget .ui-widget-content 
.ui-menu-list.ui-helper-reset .ui-widget-header.ui-corner-all{
    width: 290px;
}
.ui-megamenu .ui-menu-list.ui-helper-reset .ui-widget .ui-widget-content 
.ui-menu-list.ui-helper-reset .ui-menuitem.ui-widget.ui-corner-all{
    background-color: #FFF !important;
}
.ui-megamenu .ui-menu-list.ui-helper-reset .ui-widget .ui-widget-content 
.ui-menu-list.ui-helper-reset .ui-menuitem.ui-widget.ui-corner-all a{
    width: 112px !important;
    margin-left: 75px !important;
    background-color: #A30000 !important;
}

.ui-megamenu .ui-menu-list.ui-helper-reset .ui-widget .ui-widget-content 
.ui-menu-list.ui-helper-reset .ui-menuitem.ui-widget.ui-corner-all a span{
    margin-left: 15px;
}

.ui-megamenu .ui-menu-list.ui-helper-reset .ui-widget .ui-widget-content .ui-menu-list.ui-helper-reset .ui-widget-header.ui-corner-all .ui-menuitem-link.ui-corner-all .ui-menuitem-text{
    text-align: center;
}

.ui-megamenu .ui-menu-list.ui-helper-reset .ui-widget .ui-widget-content{
    left: -190px !important;
    border: 1px solid #B20018 !important;
    background-color: #FFF;
    width: 280px !important;
}

.limite{
    width: 270px;
}

#formMenuPerfil .ui-menu .ui-menu-list.ui-helper-reset .ui-menuitem-link.ui-corner-all{
    cursor: pointer;
}

#formMenuPerfil .ui-button.ui-state-hover{ 
    border: 1px solid #a80000 !important; 
    background: #da0101 url('../primefaces/images/ui-bg_glass_25_da0101_1x400.png') 50% 50% repeat-x !important; 
    font-weight: normal !important; 
    color: #ffffff !important; 
    cursor: pointer !important;
}

/*BRADCRUMB*/
.ui-breadcrumb.ui-module.ui-widget.ui-widget-header.ui-helper-clearfix.ui-corner-all{
    height: 50px;
}

.ui-breadcrumb .ui-breadcrumb-chevron.ui-icon.ui-icon-triangle-1-e{
    background-image: url('../imagenes/flecha_bold.gif'); 
    background-position: 0px;
    margin-left: 10px;
}

.ui-breadcrumb .ui-menuitem-link.ui-corner-all.ui-icon.ui-icon-home{
    background-image: url('../imagenes/HomeDav2.png'); 
    background-position: 0px;
    width: 20px;
}
.ui-breadcrumb a .ui-menuitem-text{
    color: #454545;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 50px;
}
.ui-breadcrumb .ui-menuitem-text{
    color: #454545;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 50px;
}

.ui-panelgrid-footer, .ui-dialog tfoot{
    text-align: center !important;
}

.ui-paginator.ui-paginator-top.ui-widget-header{
    padding-bottom: 20px;
}

.ui-datatable.ui-datatable-resizable table {
    width: 99.9%;
}
.ui-chkbox-box{
    background-color: white !important;   
}

.ui-widget-header a{
    color: transparent;
    text-decoration: none;
}

.ui-breadcrumb ul li span {
    overflow: visible;
}

.ui-treetable-header.ui-widget-header{
    border: 1px solid #880101;
    background-color: #A80000;
    font-weight: normal;
    color: white;
}


.ui-accordion-content.ui-helper-reset.ui-widget-content.ui-helper-hidden{
    height: auto;
    max-height: 500px;
    /*cursor: pointer;*/
}

#dialogInformes{
    max-width: 900px;
}

#tabReportes table td{
    height: 20px
}

/* ARBOL DE PRECEDENCIAS */
.ui-tree {
    width: 300px;
}

.ui-tree-horizontal {
    width:auto;
    padding:10px 0px;
    overflow:auto;
}

.ui-tree.ui-tree-horizontal .ui-treenode-connector-table {
    height: 100%;
    width: 1px;
}
.ui-tree .ui-treenode {
    background-attachment: scroll;
    background-color: transparent;
    background-image: none;
    background-position: 0 0;
    background-repeat: repeat-y;
    list-style: none outside none;
    margin: 0;
    padding: 1px 0 0;
}

.ui-tree-horizontal .ui-treenode-content.ui-tree-selectable {
    cursor: pointer;
}

/**
 * Estilos para campos detallados de Administración de Procesos.
*/
.textarea_proc     {
    width: 204px; 
    height: 20px;
}

.btn_tam     {
    width: 20px; 
    height: 20px;
}

.mrg_datatable   {
    width: 500px;
    margin: auto;      
}

.ui-datatable-scrollable-header-box{
    width: 100% !important;
}

.ui-selectonemenu-filter-container{
    width: 90%;
}

.ui-selectonemenu-filter.ui-inputfield.ui-inputtext.ui-widget.ui-state-default.ui-corner-all{
    width: 96%;
}

/* .ui-selectonemenu-label.ui-inputfield.ui-corner-all{ */
/*     width: 200px; */
/* } */

.ui-wizard-step-title {
    font-size: 11px !important;
}

.mapeo{
    margin: auto 0;

}
.margenWidth500{
    width: 500px;
    margin: auto;
}


.Width750Height400{
    margin: auto; 
    width: auto; 
    max-width: 750px; 
    height: auto;
    max-height: 400px
}

.margenAuto{
    margin: auto;
}

.rightAlig{
    text-align: right;
}

.rightFloat{
    float: right;
}

.leftFloat{
    float: left;
}

.ui-wizard-content .ui-picklist.ui-widget{
    margin: auto;

}

.invisible{
    display: none;
}

.outRefProceso{
    color: #880101;
    font-weight: bold;
    font-size: 10.5px;
}

.outRefSalidaProceso{
    color: black;
    font-size: 10.5px;
}

.title_det_proceso {
    float: left;
    font-size: 10.5px;
}

#dialogInformes .ui-datatable-tablewrapper table{
    margin: auto; 
    width: auto; 
    min-width: 800px; 
    height: auto;
    max-height: 450px
}

#dialogInformes #tabReportes .ui-datatable-tablewrapper table{
    margin: auto; 
    width: auto; 
    min-width: 500px; 
    height: auto;
    max-height: 500px
}
/* Estilos para los filtros de estado. */
.mainRow .filtroParametro select{
    background-color: #FFF !important;
    color: #000 !important;
}
.mainRow .filtroParametro .ui-state-focus,  .mainRow .filtroParametro .ui-state-hover{ 
    border: 1px solid #a80000; 
    background: #FFF; 
    font-weight: normal; 
    color: #000; 
}

.ui-menu.ui-menubar.ui-megamenu.ui-widget.ui-widget-content.ui-corner-all.ui-helper-clearfix.megaMenuLink{
    left: -12px !important;
    border: 0px solid !important;
}

.ui-menu.ui-menubar.ui-megamenu.ui-widget.ui-widget-content.ui-corner-all.ui-helper-clearfix.megaMenuLink .ui-menuitem-link.ui-corner-all.val1{
    margin-left: 0px !important;
    width: 143px !important;
}
.ui-menu.ui-menubar.ui-megamenu.ui-widget.ui-widget-content.ui-corner-all.ui-helper-clearfix.megaMenuLink .ui-menuitem-link.ui-corner-all.val2{
    margin-left: 165px !important;
    margin-top: -26px;
    width: 106px !important;
}


.ui-menu.ui-menubar.ui-megamenu.ui-widget.ui-widget-content.ui-corner-all.ui-helper-clearfix.megaMenuLink .ui-menuitem-link.ui-corner-all.val1.ui-state-hover{ 
    background: #da0101 url('../primefaces/images/ui-bg_glass_25_da0101_1x400.png') 50% 50% repeat-x !important; 
    font-weight: normal !important; 
    color: #ffffff !important; 
    cursor: pointer !important;
}
.ui-menu.ui-menubar.ui-megamenu.ui-widget.ui-widget-content.ui-corner-all.ui-helper-clearfix.megaMenuLink .ui-menuitem-link.ui-corner-all.val2.ui-state-hover{ 
    background: #da0101 url('../primefaces/images/ui-bg_glass_25_da0101_1x400.png') 50% 50% repeat-x !important; 
    font-weight: normal !important; 
    color: #ffffff !important; 
    cursor: pointer !important;
}

.detalleMapeoDIV .ui-datatable.ui-widget.ui-datatable-resizable{
    width: 940px;
}

.valueTipo{
    width: 75px;
}
.ui-tooltip{
    z-index: 10000;
}

.detalleDestinoTabla{
    width: 960px;
}

.Width900Height650{
    margin: auto; 
    width: auto; 
    max-width: 900px; 
    height: auto;
    max-height: 650px
}

/* ANFORERO */

.tituloSeccion {
    font-weight: bold;
}

.panelSeccion {
    width: 100%;
    background-color: #EEEEEE;
}

.panelSubseccion td {
    background-color: #FFFFFF;
}

.panelSeccion tr{
    width: 100%;
    font-weight: bold;
    background-color: #EEEEEE;
}

.panelContenido td{
    width: 100%;
    font-weight: normal;
    background-color: #FFFFFF;
}

.panelSeccion2 tr td{
    font-weight: bold;
    background-color: #EEEEEE;
}