.errorMessage {
	color: red;
	font: bold;
	font-style: oblique;
}

#menuModulos {
	position: relative;
	float: right;
	margin-top: 72px;
	margin-right:20px;
	font-size: 12px;
}

#menuModulos form a {
	margin: 5px 5px 5px 5px;	
	color: white;
}

#menuModulos form a:hover {	
	color: black;
}

#menuModulos form a:visited {	
	color: white;
}